@font-face {
    font-family: titulo;
    src: url(../assets/img/Brothery.ttf);
}
.contenedor {
    height: 100%;
    width: 100%;
}
article {
    height: 100%;
    overflow-y: scroll;
}
article::-webkit-scrollbar {
    display: none;
}
table,
th,
td {
   
    border: 1px solid rgb(0, 0, 0);
    border-collapse: collapse;
    background: rgba(255, 255, 255, 0.425);
}
th,
td {
    padding: 4px;
}

table {
    text-align: center;
    margin: 1rem;

}
#btns {
    width: 25px;
    margin: 0%;
    padding: 0%;
}
#btn {
    display: flex;
    margin: 1rem;
}
h1 {
    font-family: titulo;
    display: flex;
    justify-content: center;
    color: aliceblue;
    margin-top: 20px;
    text-shadow: 5px 3px 8px rgb(104, 103, 103);
}
.form-tarifas {
    display: flex;
}
#izq {
    margin-left: 1rem;
}
#dere {
    margin-left: 1rem;
}
.modal-content {
    background: rgba(255, 255, 255, 0.705);
    background-image: url("../src/assets/img/qw.jpg");
    background-size: cover;
    background-position: top;
    background-position: center;
}
#article {
    width: 180px;
    padding: 10px;
    margin-left: 10px;
    background-color: rgb(233, 233, 233);
}
