.container-view {
    display: flex;
    flex-flow: row;
    margin: 0%;
    overflow: hidden;
    padding: 0%;
  }
  
  .container-right {
    display: flex;
    flex: 1 0 0;
    flex-flow: column;
  }
  .Admin-main {
    flex: 1 0 0;
    margin-top: .7rem;
    margin-left: 1rem;
    flex-flow: column;
    
  
  
  }
  
  .Admin-sideBar {
    flex: .20 0 0;    
  }